<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LESDataImporter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="LESDataImporter.My.MySettings.TSGProductionQATESTConnectionString"
   connectionString="Data Source=shgqadb1;Initial Catalog=TSGProduction;Persist Security Info=True;User ID=tsguser;Password=P@$$w0rd"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<applicationSettings>
		<LESDataImporter.My.MySettings>
   <setting name="DefaultFieldSet" serializeAs="String">
    <value>http://shgdcdev:85/TSGStage/Level1Services/DefaultFieldSet.asmx</value>
   </setting>
   <setting name="LESDataImporter_DefaultFieldSet_DefaultFieldSet1"
    serializeAs="String">
    <value>http://localhost:8181/Level1Services/DefaultFieldSet.asmx</value>
   </setting>
  </LESDataImporter.My.MySettings>
	</applicationSettings>
</configuration>
